* {
  transition: all 0.3s ease 0s;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  background: url(/HDD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dispay_flex {
  display: flex !important;
}
.display_none {
  display: none !important;
}
.display_block {
  display: block;
}
.op {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
button:hover > a {
  color: white;
}

/* //////////////////// NAVBAR //////////////////// */
.conteneurBurger {
  width: 18px;
  height: 17px;
  display: none;
}
.conteneurBurger:hover {
  cursor: pointer;
}

.burger {
  align-items: center;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 2px 00 2px;
  border-radius: 3px;
}
.conteneurBurger:hover .burger {
  transition: all 0.3s ease 0s;
}
.conteneurDrop {
  display: block;
}
.bar {
  display: block;
  height: 80%;
  width: 1px;
  background-color: black;
}
.bar1 {
  display: block;
  height: 1px;
  width: 80%;
  background-color: black;
}

header {
  position: absolute;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: calc(100% - 10px);
  height: 52px;
  margin: 5px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
.name {
  font-weight: bold;
  align-items: center;
}

header ul {
  cursor: default;
}
header a,
li,
ul {
  color: rgb(0, 0, 0);
  margin: 0;
}
header a:hover {
  cursor: pointer;
  color: rgb(107, 107, 107);
  transition: all 0.3s ease 0s;
}
header h2:hover {
  color: rgb(107, 107, 107);
  transition: all 0.3s ease 0s;
}
.nav {
  display: block;
  align-items: center;
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar li {
  margin: 0 5px;
  display: inline-block;
  padding: 10px;
}
.navbar li a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
button {
  font-weight: bold;
  padding: 5px;
  background-color: rgba(125, 125, 125, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.menu button {
  margin: 5px;
}

/* Menu */
.dropdown1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  left: -10px;
  margin-top: 17px;
  flex-direction: column;
  border-radius: 0 0px 3px 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
.dropdown1 .close span {
  margin: 0;
}
.dropdown1 li {
  clear: both;
  width: 100%;
}
.dropdown2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  left: -10px;
  margin-top: 17px;
  flex-direction: column;
  border-radius: 0 0px 3px 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
.dropdown2 .close span {
  margin: 0;
}
.dropdown2 li {
  clear: both;
  width: 100%;
}
.dropdown3 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  left: -40px;
  margin-top: 17px;
  flex-direction: column;
  border-radius: 0 0px 3px 3px;
  background-color: rgba(255, 255, 255, 0.8);
}
.dropdown3 .close span {
  margin: 0;
}
.dropdown3 li {
  clear: both;
  width: 100%;
}
.conteneurDrop li {
  width: auto;
  height: auto;
  position: relative;
}
.menu {
  position: absolute;
  bottom: 57px;
  margin: 5px;
  height: auto;
  margin-bottom: 0;
  width: calc(100% - 10px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px 3px 0 0;
  transition: all 0.3s ease 0s;
}
.menu_all {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu {
  flex-direction: column;
  align-items: center;
}

.menu h3 {
  margin-bottom: 5px;
  height: 20px;
}

.menu .bar {
  height: 105px;
  margin: 10px 0 10px 0;
}

.menu p {
  font-size: small;
}
.contener_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px 0 20px;
}

.text_contenair {
  display: flex;
  align-items: center;
  width: 100%;
}

.text_menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_menu .bar1 {
  width: calc(100% - 10px);
  margin: 10px;
}
.text_menu button {
  width: calc(100% - 10px);
}
.menu_button {
  height: 100%;
  display: flex;
  justify-content: center;
}
.menu button p {
  margin: 0;
}
.menu button:hover > p {
  color: white;
}
.menu_formation {
  width: 50%;
  height: 100%;
}
.conteneur_close {
  position: absolute;
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: right;
}

.close span {
  margin: 5px;
  margin-top: 0;
  height: 20px;
}
.close span:hover {
  color: rgb(107, 107, 107);
  transition: all 0.3s ease 0s;
}
.croix:hover {
  cursor: pointer;
}

/* Menu */
/* //////////////////// NAVBAR //////////////////// */

/* //////////////////// NAVBAR BOTTOM//////////////////// */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: calc(100% - 10px);
  margin: 5px;
  height: 52px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0px;
}
.footer1 {
  border-radius: 0 0 3px 3px;
}

footer ul {
  cursor: default;
}
footer a,
li,
ul {
  color: rgb(0, 0, 0);
  margin: 0;
}
footer a:hover {
  cursor: pointer;
  color: rgb(107, 107, 107);
  transition: all 0.3s ease 0s;
}
footer .conteneurBurger {
  padding: 1px;
  padding-top: 0;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}
footer .conteneurBurger:hover {
  background-color: rgba(125, 125, 125, 0.8);
}

/* //////////////////// NAVBAR BOTTOM//////////////////// */

.scroll {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
  word-wrap: break-word;
  align-items: center;
  flex-flow: row wrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0);
}
.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 3px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.8);
}
.contener_card {
  height: 100%;
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  word-wrap: break-word;
  align-items: center;
  flex-flow: row wrap;
}

.logo_bts {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: xx-large;
}
.card h3 {
  margin-top: 20px;
}
#bts .card h3 {
  height: 200px;
}
#bts .cyber .card h3 {
  height: auto;
}
.logo_cv {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: large;
  transition: all 0.3s ease 0s;
}
.logo_cv:hover {
  color: rgb(107, 107, 107);
}
.contener_card_title {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card_title {
  margin: 5px;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  max-width: 1100px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: center;
}
.card_title1 {
  margin: 5px;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 730px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: center;
}
.card {
  margin: 5px;
  padding: 10px;
  height: 500px;
  width: 360px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
}
#moi .card {
  height: auto;
}

.card h3 {
  height: auto;
  display: flex;
  align-items: center;
}

#acceuil .card .conteneur_text {
  height: 200px;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: inherit;
}

#acceuil .card h3 {
  display: flex;
  justify-content: center;
}

.conteneur_logo_card {
  margin: 20px 0 20px 0;
  height: 125px;
  width: 125px;
  padding: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.conteneur_logo {
  margin: 20px 0 20px 0;
  height: 60px;
  width: 60px;
  padding: 12px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.contener_card_title h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.logo_card {
  height: 100%;
  width: 100%;
}

.title_card {
  margin-bottom: 20px;
}

#moi .conteneur {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-around;
}

#moi .card {
  height: 300px;
  display: flex;
}
#moi .card h3 {
  height: 170px;
}
#moi .card .text {
  display: block;
}
.logo {
  display: flex;
  justify-content: space-around;
}
.logo .conteneur_logo {
  margin: 20px;
}

.conteneur_moi {
  width: 50%;
}

.conteneur_moi1 {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.conteneur_moi1 h1 {
  text-align: center;
}

#contact form {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: none;
}
#contact label {
  margin: 10px 0 1px 0;
  display: flex;
  height: 23px;
  flex-direction: column-reverse;
  font-size: large;
}
#contact .input {
  font-size: large;
  width: 80%;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
input {
  border: none;
}
textarea {
  border: none;
}
.conteneur_title {
  width: 100%;
  padding: 0;
}

.name_contact {
  width: 90%;
  display: flex;
}
.text_name {
  width: 50%;
}

#entreprise_presentation .contener_card_title h3 {
  margin-bottom: 0;
}

#entreprise_presentation .card {
  height: 360px;
}
#entreprise_presentation .card h3 {
  height: 250px;
}

#entreprise_projet .card_title {
  width: 100%;
}
#entreprise_projet button {
  margin: 20px;
}
#entreprise_projet .card {
  height: auto;
}

#technologie .card_title {
  padding-bottom: 30px;
  width: 100%;
}

#juridique .card_title {
  padding-bottom: 30px;
  width: 1120px;
}
#juridique .card {
  width: 1100px;
  height: auto;
}

#contact button {
  margin-top: 20px;
  font-weight: bold;
  background-color: rgba(125, 125, 125, 0.8);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#envoie {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
}
#contact button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#envoie:hover {
  color: white;
  cursor: pointer;
}

#contact textarea {
  font-size: large;
  resize: none;
  border-radius: 5px;
  min-width: 271px;
  max-width: 271px;
  min-height: 140px;
  max-height: 140px;
  cursor: text;
  background-color: rgba(0, 0, 0, 0.2);
}
#contact .input::placeholder {
  padding-left: 1px;
  color: rgba(0, 0, 0, 0.6);
  font-size: medium;
}
#contact textarea::placeholder {
  padding-left: 1px;
  color: rgba(0, 0, 0, 0.6);
  font-size: medium;
}

.btn_projet {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_projet button {
  margin: 10px 5px 0px 5px !important;
}

#formation_projet .card_title {
  width: 100%;
}
#formation_projet button {
  margin: 20px;
}
#formation_projet .card,
#entreprise_projet .card,
#technologie .card,
#juridique .card {
  height: 310px;
}

#formation_projet .card h3,
#entreprise_projet .card h3,
#technologie .card h3,
#juridique .card h3 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 745px) {
  .conteneurBurger {
    display: block;
  }
  .conteneurDrop {
    display: block;
  }
  header {
    display: none;
  }
  body {
    padding-bottom: 63px;
  }
  .card_title,
  .card_title1 {
    width: 360px;
  }
  #entreprise_projet .card_title {
    width: 360px;
  }
  #formation_projet .card_title {
    width: 360px;
  }
  #technologie .card_title {
    width: 360px;
  }
  #juridique .card_title {
    width: 360px;
  }
  #juridique .card {
    width: 360px;
  }
  .card {
    height: auto;
  }
  #moi.card h3 {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card h3 {
    height: auto;
  }
  #moi .conteneur {
    flex-direction: column;
  }
  #moi .conteneur_moi,
  .conteneur_moi1 {
    width: 100%;
  }

  .scroll {
    margin-top: 5px;
  }
}
@media screen and (min-width: 745px) {
  footer {
    display: none;
  }
  .scroll {
    margin-top: 63px;
    height: 100%;
    margin-bottom: 5px;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 1110px) and (min-width: 745px) {
  .card_title {
    width: calc(360px * 2 + 10px);
  }
  #entreprise_projet .card_title {
    width: calc(360px * 2 + 10px);
  }
  #formation_projet .card_title {
    width: calc(360px * 2 + 10px);
  }
  #juridique .card_title {
    width: calc(360px * 2 + 10px);
  }
  #juridique .card {
    width: calc(360px * 2 + 10px);
  }
  .cyber {
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(360px * 2 + 10px);
  }
  .cyber .card {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .cyber .card h3 {
    height: 125px;
  }
}
