* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  background: url(HDD.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

._ {
  display: block;
  height: 1px;
  width: 80%;
  margin: 15px;
  background-color: black;
}

.bar ._ {
  width: 200px;
}

._1 {
  display: block;
  width: 1px;
  height: 90%;
  background-color: black;
}

.bar {
  width: 245px;
  margin: 10px;
  margin-right: 0;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
}
.bar::-webkit-scrollbar {
  width: 5px;
}

.bar::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
}
.bar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.bar img {
  height: 125px;
  width: 100px;
  border-radius: 100%;
  opacity: 0.8;
}

.name {
  margin-top: 20px !important;
}

.bar h3 {
  margin-top: 15px;
}

.conteneur {
  width: calc(100% - 245px);
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.7);
}

.conteneur::-webkit-scrollbar {
  width: 5px;
}

.conteneur::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
}
.conteneur::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.conteneur_card {
  height: 75%;
  width: 100%;
  display: flex;
}

.card {
  width: calc(50% - 45px);
  margin: 10px 0 0 10px;
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
  justify-content: space-around;
}

.title {
  height: 15%;
  max-width: none;
  margin: 0;
  margin-top: 10px;
  width: calc(100% - 50px);
}

.skils h4 {
  margin-top: 10px;
}

.footer {
  margin: 0;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.footer div {
  margin: 10px;
}

.footer h2 {
  margin: 0;
}

.footer h3 {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 35px;
  width: 35px;
}

.text {
  margin-top: 10px;
}

@media screen and (max-height: 810px) {
  .title,
  .footer,
  .conteneur_card {
    height: auto;
  }
}

@media screen and (max-height: 965px) {
  .footer {
    height: auto;
  }
}

@media screen and (max-width: 833px) {
  .conteneur_card {
    flex-direction: column;
  }
  .title,
  .conteneur_card {
    height: auto;
  }
  .card {
    width: calc(100% - 50px);
  }
  ._1 {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    justify-content: space-around;
  }
  ._1 {
    display: none;
  }
  .logo {
    justify-content: center;
  }
}

@media screen and (max-width: 610px) {
  body {
    height: auto;
    flex-direction: column;
    overflow: visible !important;
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  body::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .bar {
    height: auto;
    overflow: hidden;
    width: calc(100% - 50px);
    margin-bottom: 0;
  }
  .conteneur {
    width: 100%;
    overflow: hidden;
  }
}

@media print {
  ._,
  ._1,
  .logo {
    display: none;
  }

  .bar {
    width: 26%;
    justify-content: space-around;
    padding: 0;
  }

  h3,
  h4,
  h1 {
    margin: 0;
  }

  .conteneur {
    width: 100%;
  }
  .text {
    margin: 0;
  }
  .card {
    padding: 0;
    width: calc(50% - 15px);
  }
  .title {
    width: calc(100% - 20px);
  }
}
